<div ng-app="administration" ng-controller="questionListController">
    <div class="row-fluid" id="sortable_boxes">
        <div class="span4 column sortable">
            <div ng-repeat="(key,item) in questions" class="well {{item.question_type | colorBox}}">
                <div class="well-header">
                    <h5>Question {{key + 1}}</h5>
                    <ul>
                        <li class="color_pick"><a href="#question-preview/{{item.id}}" title="preview question"><i class="icon-th"></i></a></li>
                    </ul>
                </div>
                <div class="well-content">
                    {{item.en | limitTo: 750}}{{item.en.length > 750 ? '...' : ''}}
                </div>
            </div>
        </div>
    </div>
</div>