<div ng-app="survey" ng-controller="thankYouController">
    <article class="col-md-12">
        <h3 class="title col-md-12">Thank You</h3>
    </article>

    <article class="col-md-12">
        <h5 class="author">Thanks for taking part in this survey</h5>
        <span class="school" style="width: 60%">
            <table style="border: none !important; margin-bottom: 0px">
                <tr style="background-color: #ffffff !important; border: none !important;">
                    <td style="border: none !important;">Researcher:</td>
                    <td style="border: none !important; text-align: left !important;"><b>Ngan D. Cao (Rosie)</b></td>
                </tr>
                <tr style="border: none !important;">
                    <td style="border: none !important; vertical-align: top !important;">Supervisors:</td>
                    <td style="border: none !important; text-align: left !important;">
                        <b>Professor Darren Duxbury</b> (Newcastle University, UK)<br>
                        <b>Professor Susan Chilton</b> (Newcastle University, UK)
                    </td>
                </tr>
                <tr style="border: none !important;">
                    <td style="border: none !important;">Department:</td>
                    <td style="border: none !important; text-align: left !important;"><b>Newcastle University Business School</b></td>
                </tr>
            </table>
        </span>
        <div style="margin-top: 5px">
            <p>What are the aims of the study? This is a cross-national study that investigates the impacts of one’s
            psychological constructs on individual’s financial risk tolerance and investment behaviour across the life
            course.<br>
            What if I have any questions about the study that I would like to ask now? Researcher’s email: <a style="color: #337ab7 !important; display: inline !important;" href="mailto:n.d.cao1@newcastle.ac.uk" class="mail">n.d.cao1@newcastle.ac.uk</a><br>
            How can I contact the researcher if I have any further questions or if, for any reason, I wish to withdraw my data once I have left?</p>
        </div>
        <div>
            <p>Can I obtain a summary of the results of the study?<br>
            To obtain details of the results contact the researcher at <a style="color: #337ab7 !important; display: inline !important;" href="mailto:n.d.cao1@newcastle.ac.uk" class="mail">n.d.cao1@newcastle.ac.uk</a></p>
        </div>
        <p style="font-weight: bold;font-style: italic; margin-top: 15px !important;">Thank you again for your participation in this study!</p>
    </article>
</div>