<div ng-app="survey" ng-controller="contactController">

        <article class="col-md-12">
            <h3 class="title col-md-12">Contact</h3>
        </article>

        <article class="col-md-4">

                <span class="location"><i class="glyphicon glyphicon-map-marker"></i> Newcastle University Business School <br>
                      5 Barrack Road ( Room 6.22 ) <br>
                      Newcastle Upon Tyne <br>
                      NE1 4SE</span>
            <a href="mailto:n.d.cao1@newcastle.ac.uk" class="mail"><i class="glyphicon glyphicon-envelope"></i>n.d.cao1@newcastle.ac.uk</a>
            <a href="#" class="phone"><i class="glyphicon glyphicon-earphone"></i> (+44) 1912081601<span style="display: block; margin-left: 18px">(+44) 1912081600</span></a>
            <ul class="social">
                <li class="icon in"><a href="#">in</a></li>
                <li class="icon face"><a href="#">face</a></li>
                <li class="icon twiter"><a href="#">twiter</a></li>
            </ul>


            </nav>
        </article>
        <article id="form-contact" class="col-md-7 col-md-push-1">
            <h4>General Enquiries</h4>

            <form>
                <div class="form-group">
                    <label for="yourname">Your name: ( Optional )</label>
                    <input type="" class="form-control" id="yourname" ng-model="contact.name">
                </div>
                <div class="form-group">
                    <label for="youremail">E-mail:</label>
                    <input type="email" class="form-control" id="youremail" ng-model="contact.email">
                </div>
                <div class="form-group">
                    <label for="youremail">Your Message:</label>
                    <textarea class="form-control" rows="3" ng-model="contact.message"></textarea>
                </div>

                <button type="submit" ng-click='sendMessage()' class="btn btn-default">Submit</button>
                <button class="clear btn btn-default">Clear</button>
            </form>
        </article>

</div>