<div ng-app="administration" ng-controller="questionEditMultipleController">
    <div class="row-fluid">
        <div class="span6">
            <div class="well {{question.question_type | colorBox}}">
                <div class="well-header">
                    <h5>Create Question</h5>
                    <ul>
                        <li class="color_pick"><a><i class="icon-th"></i></a>
                            <ul>
                                <li><a class="blue set_color" href="#"></a></li>
                                <li><a class="light_blue set_color" href="#"></a></li>
                                <li><a class="grey set_color" href="#"></a></li>
                                <li><a class="pink set_color" href="#"></a></li>
                                <li><a class="red set_color" href="#"></a></li>
                                <li><a class="orange set_color" href="#"></a></li>
                                <li><a class="yellow set_color" href="#"></a></li>
                                <li><a class="green set_color" href="#"></a></li>
                                <li><a class="dark_green set_color" href="#"></a></li>
                                <li><a class="turq set_color" href="#"></a></li>
                                <li><a class="dark_turq set_color" href="#"></a></li>
                                <li><a class="purple set_color" href="#"></a></li>
                                <li><a class="violet set_color" href="#"></a></li>
                                <li><a class="dark_blue set_color" href="#"></a></li>
                                <li><a class="dark_red set_color" href="#"></a></li>
                                <li><a class="brown set_color" href="#"></a></li>
                                <li><a class="black set_color" href="#"></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="well-content no_padding">
                    <div class="navbar-inner" data-hbo-tabs>
                        <ul class="nav nav-tabs">
                            <li class="active"><a ng-click="activeTab('tab-en')" data-toggle="tab">English</a></li>
                            <li class=""><a ng-click="activeTab('tab-vn')" data-toggle="tab">Tiếng Việt</a></li>
                            <li class=""><a ng-click="activeTab('tab-ch')" data-toggle="tab">中国</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-en">
                            <h2>Create Question</h2>
                            <select class="selectpicker" ng-model="groupQuestion" title='select group'>
                                <option ng-repeat="item in groups" value="{{item.id}}">{{item.name}}</option>
                            </select>
                            <div class="question-mode">
                                <span ng-repeat='item in modes'>
                                    <input type="checkbox" value="{{ item.id }}" ng-checked="{{ item.id | initMode:question.mode}}"/>{{ item.value}}
                                </span>
                            </div>
                            <textarea id="question-en">{{question.en}}</textarea>
                            <h2>Create Multiple Choice</h2>
                            <form>
                                <div class="form_row">
                                    <div class="field answer-en">
                                        <div class="type-question" ng-switch="typeQuestion">
                                            <div ng-switch-when="5">
                                                <ul style="list-style-type: none; margin: 0 auto">
                                                    <li ng-repeat="(key,item) in question.question_detail.en">
                                                        <input type="checkbox"/><input type="text" class="question-answer" ng-model="item.value" placeholder="type here" style="border: 0;width: 500px;"/>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div ng-switch-when="7" style="margin-left: -180px">
                                                <span ng-repeat="(key,item) in question.question_detail.en" style="width: 120px">
                                                    <input type="radio"/>&nbsp<input type="text" class="question-answer" ng-model="item.value" placeholder="type here" style="border: 0;width: 65px;"/>
                                                </span>
                                            </div>
                                            <div ng-switch-default="3">
                                                <ul style="list-style-type: none; margin: 0 auto">
                                                    <li ng-repeat="(key,item) in question.question_detail.en">
                                                        <input type="radio"/>&nbsp<input type="text" class="question-answer" ng-model="item.value" placeholder="type here" style="border: 0;width: 500px;"/>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div ng-switch-when="6">
                                                <ul style="list-style-type: none; margin: 0 auto">
                                                    <li ng-repeat="(key,item) in question.question_detail.en">
                                                        <input type="radio"/>&nbsp<input type="text" class="question-answer" ng-model="item.value" placeholder="type here" style="border: 0;width: 500px;"/>
                                                    </li>
                                                </ul>
                                                <textarea></textarea>
                                            </div>
                                            <div ng-switch-when="8">
                                                <ul style="list-style-type: none; margin: 0 auto">
                                                    <li ng-repeat="(key,item) in question.question_detail.en">
                                                        <input type="checkbox"/>&nbsp<input type="text" class="question-answer" ng-model="item.value" placeholder="type here" style="border: 0;width: 500px;"/>
                                                    </li>
                                                </ul>
                                                <textarea></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="tab-vn">
                            <h2>Tạo câu hỏi</h2>
                            <textarea id="question-vn">{{question.vn}}</textarea>
                            <h2>Tạo câu trắc nghiệm</h2>
                            <form>
                                <div class="form_row">
                                    <div class="field answer-en">
                                        <div class="type-question" ng-switch="typeQuestion">
                                            <div ng-switch-when="5">
                                                <ul style="list-style-type: none; margin: 0 auto">
                                                    <li ng-repeat="(key,item) in question.question_detail.vn">
                                                        <input type="checkbox"/><input type="text" class="question-answer" ng-model="item.value" placeholder="type here" style="border: 0;width: 500px;"/>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div ng-switch-when="7" style="margin-left: -180px">
                                                <span ng-repeat="(key,item) in question.question_detail.vn" style="width: 120px">
                                                    <input type="radio"/>&nbsp<input type="text" class="question-answer" ng-model="item.value" placeholder="type here" style="border: 0;width: 65px;"/>
                                                </span>
                                            </div>
                                            <div ng-switch-default="3">
                                                <ul style="list-style-type: none; margin: 0 auto">
                                                    <li ng-repeat="(key,item) in question.question_detail.vn">
                                                        <input type="radio"/>&nbsp<input type="text" class="question-answer" ng-model="item.value" placeholder="type here" style="border: 0;width: 500px;"/>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div ng-switch-when="6">
                                                <ul style="list-style-type: none; margin: 0 auto">
                                                    <li ng-repeat="(key,item) in question.question_detail.vn">
                                                        <input type="radio"/>&nbsp<input type="text" class="question-answer" ng-model="item.value" placeholder="type here" style="border: 0;width: 500px;"/>
                                                    </li>
                                                </ul>
                                                <textarea></textarea>
                                            </div>
                                            <div ng-switch-when="8">
                                                <ul style="list-style-type: none; margin: 0 auto">
                                                    <li ng-repeat="(key,item) in question.question_detail.vn">
                                                        <input type="checkbox"/>&nbsp<input type="text" class="question-answer" ng-model="item.value" placeholder="type here" style="border: 0;width: 500px;"/>
                                                    </li>
                                                </ul>
                                                <textarea></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="tab-ch">
                            <h2>Create Question</h2>
                            <textarea id="question-ch">{{question.ch}}</textarea>
                            <h2>Create multiple choice</h2>
                            <form>
                                <div class="form_row">
                                    <div class="field answer-en">
                                        <div class="type-question" ng-switch="typeQuestion">
                                            <div ng-switch-when="5">
                                                <ul style="list-style-type: none; margin: 0 auto">
                                                    <li ng-repeat="(key,item) in question.question_detail.ch">
                                                        <input type="checkbox"/><input type="text" class="question-answer" ng-model="item.value" placeholder="type here" style="border: 0;width: 500px;"/>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div ng-switch-when="7" style="margin-left: -180px">
                                                <span ng-repeat="(key,item) in question.question_detail.ch" style="width: 120px">
                                                    <input type="radio"/>&nbsp<input type="text" class="question-answer" ng-model="item.value" placeholder="type here" style="border: 0;width: 65px;"/>
                                                </span>
                                            </div>
                                            <div ng-switch-default="3">
                                                <ul style="list-style-type: none; margin: 0 auto">
                                                    <li ng-repeat="(key,item) in question.question_detail.ch">
                                                        <input type="radio"/>&nbsp<input type="text" class="question-answer" ng-model="item.value" placeholder="type here" style="border: 0;width: 500px;"/>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div ng-switch-when="6">
                                                <ul style="list-style-type: none; margin: 0 auto">
                                                    <li ng-repeat="(key,item) in question.question_detail.ch">
                                                        <input type="radio"/>&nbsp<input type="text" class="question-answer" ng-model="item.value" placeholder="type here" style="border: 0;width: 500px;"/>
                                                    </li>
                                                </ul>
                                                <textarea></textarea>
                                            </div>
                                            <div ng-switch-when="8">
                                                <ul style="list-style-type: none; margin: 0 auto">
                                                    <li ng-repeat="(key,item) in question.question_detail.ch">
                                                        <input type="checkbox"/>&nbsp<input type="text" class="question-answer" ng-model="item.value" placeholder="type here" style="border: 0;width: 500px;"/>
                                                    </li>
                                                </ul>
                                                <textarea></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="form_row" style="margin-bottom: 10px">
                        <div class="field">
                            <a ng-click="save()" class="blue btn">Save Question</a>
                            <a href="#question-preview/{{question.id}}" class="red btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>